{% extends "base.html" %}
{% load static %}
{% block title %}Home | Portfolio{% endblock %}

{% block content %}

<!-- Hero Section -->
<section class="text-center py-20 bg-gradient-to-r from-blue-500 to-indigo-600 text-white rounded-xl mb-10">
    <h1 class="text-5xl font-bold mb-4">Welcome to My Portfolio</h1>
    <p class="text-xl">Showcasing My Best Work & Projects</p>
</section>

<!-- Projects Section -->
<section class="mt-20">
    <h2 class="text-5xl font-bold mb-6 text-center text-gray-800">Featured Projects</h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

        <!-- Project 1 -->
        <div class="bg-white shadow-lg rounded-xl p-5 hover:scale-105 transition">
            <img src="{% static '/image/burds.jpg' %}" class="rounded-lg w-full h-110 object-cover">
            <h3 class="mt-4 text-xl font-semibold">E-commerce Project</h3>
        </div>

            <!-- Project 3 -->
        <div class="bg-white shadow-lg rounded-xl p-5 hover:scale-105 transition">
            <img src="{% static '/image/protin.jpg' %}" class="rounded-lg w-full h-110 object-cover">
            <h3 class="mt-4 text-xl font-semibold">Protein Brand Website</h3>
        </div>

        <!-- Project 4 -->
        <div class="bg-white shadow-lg rounded-xl p-5 hover:scale-105 transition">
            <img src="{% static '/image/ChatGPT Image Nov 19, 2025, 09_27_50 AM.png' %}" class="rounded-lg w-full h-110 object-cover">
            <h3 class="mt-4 text-xl font-semibold">Studio Project</h3>
        </div>

    </div>
</section>

{% endblock %}
